@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';

@theme {
	--color-primary: #05999A;
	--color-background: #f3f4f6;
	--color-white-custom: #fbfbfd;
	--color-gray-custom: #b8b8ba;
	--color-red-custom: #ff0000;

	--font-primary: 'Open Sans', '';
	--font-size: 22px;
	--breakpoint-3xl: 140rem;
	--breakpoint-4xl: 160rem;
}
